<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fdh.dao.InterviewMapper">

    <insert id="addInterview">
        insert into T_INTERVIEW VALUES (T_INTERVIEW_SEQ.nextval,#{adminId},#{departId},#{positionId},to_date(#{interviewTime},'yyyy-MM-dd HH24:MI:SS'),#{location},#{phone},#{userId},#{interviewState},#{deliverResumeId})
    </insert>
    <update id="updateInterviewById">
        UPDATE t_interview SET T_INTERVIEW_STATE=#{1} where t_interview_id=#{0}
    </update>
    <update id="updateInterview">
        UPDATE  T_INTERVIEW SET T_INTERVIEW_STATE=#{interviewState} where t_interview_id=#{id}
    </update>
    <select id="seeInterview" resultMap="interview">
        SELECT t_i.*,t_d.T_DEPART_ID,t_d.t_depart_name,t_p.T_POSITION_ID,t_p.T_POSITION_NAME from T_INTERVIEW t_i,T_DEPART t_d,T_POSITION t_p
        where t_i.T_INTERVIEW_DEPART_ID=t_d.T_DEPART_ID and t_i.T_INTERVIEW_POSITION_ID=t_p.T_POSITION_ID AND
        T_INTERVIEW_STATE IN (1,2,3)
    </select>
    <select id="seeInterviewCur" resultMap="interview">
        SELECT t_in.* FROM
        (SELECT rownum rn,t_i.*,t_d.T_DEPART_ID,t_d.t_depart_name,t_p.T_POSITION_ID,t_p.T_POSITION_NAME from T_INTERVIEW t_i,T_DEPART t_d,T_POSITION t_p
        where t_i.T_INTERVIEW_DEPART_ID=t_d.T_DEPART_ID and t_i.T_INTERVIEW_POSITION_ID=t_p.T_POSITION_ID AND T_INTERVIEW_STATE IN (1,2,3) )
         t_in
        where t_in.rn between #{0} and #{1}
    </select>
    <select id="seeInterviewByUserId" resultMap="interview">
        SELECT * from T_INTERVIEW where T_INTERVIEW_USER_ID=#{0} and T_INTERVIEW_STATE=#{1}
    </select>
    <select id="seeInterviewByUserIdCur" resultMap="interview">
        SELECT t_i.* FROM
        (SELECT rownum rn,t_in.* from T_INTERVIEW t_in where T_INTERVIEW_STATE=#{1} and t_interview_user_id=#{0}) t_i
        where t_i.rn between #{2} and #{3}
    </select>
    <select id="getInterviewById" resultMap="interview">
         SELECT * from T_INTERVIEW where T_INTERVIEW_id=#{0}
    </select>
    <select id="seeInterviewByUser" resultMap="interview">
        SELECT t_i.*,t_d.T_DEPART_ID,t_d.t_depart_name,t_p.T_POSITION_ID,t_p.T_POSITION_NAME from T_INTERVIEW t_i,T_DEPART t_d,T_POSITION t_p
        where t_i.T_INTERVIEW_DEPART_ID=t_d.T_DEPART_ID and t_i.T_INTERVIEW_POSITION_ID=t_p.T_POSITION_ID and t_i.T_INTERVIEW_USER_ID=#{0} AND
        T_INTERVIEW_STATE IN (0,1,2,3)
    </select>
    <select id="seeInterviewByUserCur" resultMap="interview">
        SELECT t_in.* FROM
        (SELECT rownum rn,t_i.*,t_d.T_DEPART_ID,t_d.t_depart_name,t_p.T_POSITION_ID,t_p.T_POSITION_NAME from T_INTERVIEW t_i,T_DEPART t_d,T_POSITION t_p
        where t_i.T_INTERVIEW_DEPART_ID=t_d.T_DEPART_ID and t_i.T_INTERVIEW_POSITION_ID=t_p.T_POSITION_ID AND T_INTERVIEW_USER_ID=#{0} AND T_INTERVIEW_STATE IN (0,1,2,3) )
         t_in
        where t_in.rn between #{1} and #{2}
    </select>
    <resultMap id="interview" type="Interview">
        <id property="id" column="t_interview_id"/>
        <result property="adminId" column="t_interview_admin_id"/>
        <result property="userId" column="t_interview_user_id"/>
        <result property="departId" column="t_interview_depart_id"/>
        <result property="positionId" column="t_interview_position_id"/>
        <result property="interviewTime" column="t_interview_time"/>
        <result property="location" column="t_interview_location"/>
        <result property="phone" column="t_interview_phone"/>
        <result property="interviewState" column="t_interview_state"/>
        <result property="deliverResumeId" column="t_deliverResume_id"/>
        <association property="depart" javaType="Depart">
            <id property="id" column="t_depart_id"/>
            <result property="departName" column="t_depart_name"/>
        </association>
        <association property="position" javaType="Position">
            <id property="id" column="t_position_id"/>
            <result property="positionName" column="t_position_name"/>
        </association>
     </resultMap>
</mapper>