<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fdh.dao.PositionMapper">
    <insert id="addPosition">
        insert into T_POSITION VALUES (T_POSITION_SEQ.nextval,#{positionName},#{departId},#{baseSal})
    </insert>
    <delete id="deletePositionById">
        DELETE from T_POSITION where T_POSITION_ID=#{0}
    </delete>
    <select id="getPositionsByDep" resultMap="position">
        SELECT * from T_POSITION  where T_DEPART_ID=#{departId}
    </select>
    <select id="getPositionByName" resultMap="position">
        SELECT * from T_POSITION where T_POSITION_NAME=#{positionName}
    </select>
    <select id="getPositionById" resultMap="position">
        SELECT * from T_POSITION where T_POSITION_ID=#{0}
    </select>
    <select id="getPositionsByDepId" resultMap="position">
        SELECT * from T_POSITION where T_DEPART_ID=#{0}
    </select>
    <select id="getAllPosition" resultMap="position">
        SELECT * from T_POSITION
    </select>
    <resultMap id="position" type="Position">
        <id property="id" column="t_position_id"/>
        <result property="positionName" column="t_position_name"/>
        <result property="departId" column="t_depart_id"/>
        <result property="baseSal" column="t_position_baseSal"/>
    </resultMap>
</mapper>