<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fdh.dao.RecruitMapper">
    <insert id="addRecRuit">
        insert INTO T_RECRUIT VALUES (T_RECRUIT_SEQ.nextval,#{departId},#{positionId},#{number},#{demand},#{recruitState})
    </insert>
    <update id="updateRecruitState">
        update T_RECRUIT SET T_RECRUIT_STATE=#{recruitState} where t_recruit_id=#{id}
    </update>
    <select id="seeRecruit" resultMap="recruits">
        SELECT * from T_RECRUIT t_r,t_depart t_d,t_position t_p
        where t_r.T_RECRUIT_DEPART_ID=t_d.T_DEPART_ID and t_r.T_RECRUIT_POSITION_ID=t_p.T_POSITION_ID
    </select>
    <select id="seeRecruitCur" resultMap="recruits">
        SELECT t_r1.* FROM
        (SELECT rownum rn,t_r.* ,t_d.T_DEPART_NAME,t_d.T_DEPART_ID,t_p.T_POSITION_ID,
        t_p.T_POSITION_NAME
        from T_RECRUIT t_r,t_depart t_d,t_position t_p
        where t_r.T_RECRUIT_DEPART_ID=t_d.T_DEPART_ID and t_r.T_RECRUIT_POSITION_ID=t_p.T_POSITION_ID
        ) t_r1
        where t_r1.rn BETWEEN #{0} and #{1}
    </select>
    <select id="seeRecruitById" resultMap="recruit">
        SELECT * from T_RECRUIT where T_RECRUIT_ID=#{id}
    </select>
    <select id="seeRecruitByState" resultMap="recruits">
        SELECT * from T_RECRUIT t_r,t_depart t_d,t_position t_p
        where t_r.T_RECRUIT_DEPART_ID=t_d.T_DEPART_ID and t_r.T_RECRUIT_POSITION_ID=t_p.T_POSITION_ID
        and t_r.T_RECRUIT_STATE=#{0}
    </select>
    <select id="seeRecruitCurByState" resultMap="recruits">
         SELECT t_r1.* FROM
        (SELECT rownum rn,t_r.* ,t_d.T_DEPART_NAME,t_d.T_DEPART_ID,t_p.T_POSITION_ID,
        t_p.T_POSITION_NAME
        from T_RECRUIT t_r,t_depart t_d,t_position t_p
        where t_r.T_RECRUIT_DEPART_ID=t_d.T_DEPART_ID and t_r.T_RECRUIT_POSITION_ID=t_p.T_POSITION_ID
        and t_r.T_RECRUIT_STATE=1) t_r1
        where t_r1.rn BETWEEN #{0} and #{1}
    </select>
    <select id="seeRecruitByOn" resultMap="recruits">
        SELECT * from T_RECRUIT t_r,t_depart t_d,t_position t_p
        where t_r.T_RECRUIT_DEPART_ID=t_d.T_DEPART_ID and t_r.T_RECRUIT_POSITION_ID=t_p.T_POSITION_ID
        and t_r.T_RECRUIT_STATE=1
    </select>
    <select id="seeRecruitCurByOn" resultMap="recruits">
         SELECT t_r1.* FROM
        (SELECT rownum rn,t_r.* ,t_d.T_DEPART_NAME,t_d.T_DEPART_ID,t_p.T_POSITION_ID,
        t_p.T_POSITION_NAME
        from T_RECRUIT t_r,t_depart t_d,t_position t_p
        where t_r.T_RECRUIT_DEPART_ID=t_d.T_DEPART_ID and t_r.T_RECRUIT_POSITION_ID=t_p.T_POSITION_ID
        and t_r.T_RECRUIT_STATE=1) t_r1
        where t_r1.rn BETWEEN #{0} and #{1}
    </select>
    <resultMap id="recruit" type="Recruit">
        <id property="id" column="t_recruit_id"/>
        <result property="departId" column="t_recruit_depart_id"/>
        <result property="positionId" column="t_recruit_position_id"/>
        <result property="number" column="t_recruit_number"/>
        <result property="demand" column="t_recruit_demand"/>
        <result property="recruitState" column="t_recruit_state"/>
    </resultMap>
    <resultMap id="recruits" type="Recruit">
        <id property="id" column="t_recruit_id"/>
        <result property="departId" column="t_recruit_depart_id"/>
        <result property="positionId" column="t_recruit_position_id"/>
        <result property="number" column="t_recruit_number"/>
        <result property="demand" column="t_recruit_demand"/>
        <result property="recruitState" column="t_recruit_state"/>
        <association property="depart" javaType="Depart">
            <id property="id" column="t_depart_id"/>
            <result property="departName" column="t_depart_name"/>
        </association>
        <association property="position" javaType="Position">
            <id property="id" column="t_position_id"/>
            <result property="positionName" column="t_position_name"/>
        </association>
    </resultMap>
</mapper>