<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fdh.dao.ResumeMapper">
    <insert id="addResume">
        INSERT INTO t_resume VALUES (t_resume_seq.nextval,#{userName},#{sex},#{age},#{cardId},#{phone},#{email},#{state},#{expSal},
        #{edu},#{major},#{workOld},#{rate},#{school},#{userId})
    </insert>
    <insert id="addDeliverResume">
        insert into t_deliver_resume VALUES (T_DELIVER_RESUME_SEQ.nextval,
        #{recruitId},#{userId},#{userName},#{sex},#{age},#{cardId},#{phone},#{email},#{state},
        #{expSal},#{edu},#{school},#{major},#{workOld},#{rate})
    </insert>
    <update id="updateResume">
        UPDATE T_RESUME SET T_RESUME_NAME=#{userName},t_resume_sex=#{sex},
        t_resume_age=#{age},t_resume_cardId=#{cardId},t_resume_phone=#{phone},t_resume_sex=#{sex},
        t_resume_email=#{email},t_resume_state=#{state},t_resume_expSal=#{expSal},
        t_resume_edu=#{edu},t_resume_major=#{major},t_resume_work=#{workOld},
        t_resume_rate=#{rate},t_resume_school=#{school},t_user_id=#{userId}
        where t_resume_id=#{id}
    </update>
    <select id="seeResumeById" resultMap="resume">
        SELECT * from t_resume where T_RESUME_ID=#{id}
    </select>
    <select id="seeResumeByUserId" resultMap="resume">
        SELECT * from t_resume where T_USER_ID=#{0}
    </select>

    <resultMap id="resume" type="Resume">
        <id property="id" column="t_resume_id"/>
        <result property="userName" column="t_resume_name"/>
        <result property="sex" column="t_resume_sex"/>
        <result property="age" column="t_resume_age"/>
        <result property="cardId" column="t_resume_cardId"/>
        <result property="phone" column="t_resume_phone"/>
        <result property="email" column="t_resume_email"/>
        <result property="state" column="t_resume_state"/>
        <result property="expSal" column="t_resume_expSal"/>
        <result property="edu" column="t_resume_edu"/>
        <result property="major" column="t_resume_major"/>
        <result property="workOld" column="t_resume_work"/>
        <result property="rate" column="t_resume_rate"/>
        <result property="school" column="t_resume_school"/>
        <result property="userId" column="t_user_id"/>
    </resultMap>
</mapper>