#top{
    width: 100%;
    height: 150px;
    background-color: gainsboro;
}
#logo{
    width: 80%;
    height: 150px;
    float: left;
}
#login{
    width:20%;
    height: 150px;
    text-align: center;
    vertical-align: bottom;
    float: left;
}
#top:after{
    content: "";
    clear:both;
    zoom:1;
}
#sp,#level{
    display: none;
}
#loginArea{
    display: none;
}
#menu{
    width: 100%;
    height:30px;
    background-color: azure;
}
#contenter{
    width: 100%;
    height: 500px;
}
#resume_body{
    width: 800px;
    height: 600px;
    border:1px solid darkgray;
    margin: 0 auto;
}
#middle_position{
    display:none;
}
#left_depart,#middle_position,#right_staff{
    width: 400px;
    height:500px;
    float:left;
}
#contenter_admin:after{
    content: "";
    clear:both;
    zoom:1;
}
#left_depart a{
    display: block;
    cursor: pointer;
}
#resume_span{
    display: none;
}
#menu_left{
    width:80%;
    float:left;
}
#menu_right{
    width:20%;
    float:left;
    display: none;
}
#menu:after{
    content: "";
    clear:both;
    zoom:1;
}
.a{
    background-color: beige;
}