#top,#top_admin{
    width: 100%;
    height: 150px;
    background-color: gainsboro;
}
#top_admin{
    text-align: center;
    line-height: 150px;
    font-size: 30px;
}
#logo{
    width: 80%;
    height: 150px;
    text-align: center;
    line-height: 150px;
    font-size: 30px;
    float: left;
}
#log1,#reg{
    vertical-align: bottom;
}
#login{
    width:20%;
    height: 150px;
    text-align: center;
    float: left;
}
#login_menu{
    margin-top: 100px;
}
#top:after{
    content: "";
    clear:both;
    zoom:1;
}
#goUser{
    cursor: pointer;
}
#sp,#level{
    display: none;
}
#loginArea{
    display: none;
}
#menu{
    width: 100%;
    height:30px;
    background-color: azure;
}
#contenter{
    width: 100%;
    height: 500px;
}
#resume_body{
    width: 800px;
    height: 600px;
    border:1px solid darkgray;
    margin: 0 auto;
}
#middle_position{
    display:none;
}
#left_depart,#middle_position,#right_staff{
    width: 400px;
    height:500px;
    float:left;
}
#contenter_admin:after{
    content: "";
    clear:both;
    zoom:1;
}
#left_depart a,#positions a{
    display: block;
    cursor: pointer;
}
#resume_span{
    display: none;
}
#menu_left{
    width:80%;
    float:left;
}
#menu_right{
    width:20%;
    float:left;
    display: none;
}
#menu:after{
    content: "";
    clear:both;
    zoom:1;
}
#t_body tr{
    cursor: pointer;
}
#menu_admin,#user_menu{
    background-color: azure;
}
.a{
    background-color: beige;
}