*{
    margin:0;
    padding:0;
}
#register,#content_login{
    width: 500px;
    height: 200px;
    position: absolute;
    margin-top:180px;
    margin-left:600px;
}
#register form{
    width: 500px;
    height: 200px;

}
#content_login form{
    width:300px;
    height:200px;
    text-align: center;
}
#log{
    width: 80px;
    height: 25px;
}
#span,#sp1,#sp2{
    font-size:10px;
}
#top,#top_admin{
    width: 100%;
    height: 150px;
    background:url("../images/top.png") no-repeat;
    background-size: 100% 150px;
}
#top_admin{
    text-align: center;
    line-height: 150px;
    font-size: 30px;
}
#logo{
    width: 80%;
    height: 150px;
    text-align: center;
    line-height: 150px;
    font-size: 30px;
    float: left;
}
#log1,#reg{
    vertical-align: bottom;
}
#login{
    width:20%;
    height: 150px;
    text-align: center;
    float: left;
}
#login_menu{
    margin-top: 100px;
}
#top:after{
    content: "";
    clear:both;
    zoom:1;
}
#goUser{
    cursor: pointer;
}
#sp,#level{
    display: none;
}
#sp{
    color: gold;
}
#loginArea{
    display: none;
}
#menu,#user_menu,#menu_admin{
    width: 100%;
    height:30px;
    background-color: skyblue;
}
#menu a,#user_menu a{
    display: block;
    text-decoration: none;
    cursor: pointer;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #f624ad;
    float: left;
}
#menu_admin a{
    display: block;
    text-decoration: none;
    cursor: pointer;
    width: 120px;
    height: 30px;
    line-height: 30px;
    font-size: 13px;
    text-align: center;
    color: #f624ad;
    float: left;
}
#contenter{
    width: 100%;
    height: 455px;
    background-color: gainsboro;
}
#content_left{
    float: left;
    width:70%;
    height: 450px;
}
#content_right{
    float: left;
    width:28%;
    height: 450px;
}
#content:after{
    content: '';
    clear: both;
    zoom:1;
}
#resume_body{
    width: 1364px;
    height: 455px;
    border:1px solid darkgray;
    background-color: gainsboro;
}
#resume_body_1,#resume_body_2{
    width: 1364px;
    height: 515px;
    border:1px solid darkgray;
    background-color: gainsboro;
}
#left_depart,#middle_position,#right_staff{
     width: 400px;
     height:450px;
     float:left;
 }
#right_staff{
    width: 550px;
    height:450px;
    float:left;
}
#addTrain,#seeTrain{
    width: 50%;
    float: left;
}
#contenter_admin:after{
    content: "";
    clear:both;
    zoom:1;
}
#left_depart a,#positions a{
    display: block;
    cursor: pointer;
}
#resume_span{
    display: none;
}
#menu_left{
    width:80%;
    float:left;
}
.menu_right{
    display: none;
}
#menu:after,#user_menu:after,#menu_admin:after{
    content: "";
    clear:both;
    zoom:1;
}
#t_body tr{
    cursor: pointer;
}
#content_staff{
    width: 1330px;
    height: 450px;
    border:1px skyblue solid;
}
#content_staff_left{
    width:500px;
    height: 450px;
    border-right:2px gainsboro solid;
    float: left;
}
#content_staff_right{
    float: left;
    width:820px;
    height: 450px;
    border-right:2px gainsboro solid;
    overflow: hidden;
    float: left;
}
#content_staff:after{
    content: "";
    clear: both;
    zoom:1;
}
#contenter_admin{
    width: 1364px;
    height: 455px;
    border:1px skyblue solid;
    background-color: gainsboro;
}
#ctrl_staff,#addRecruit,#seeDeliver{
    width: 600px;
    height: 455px;
    margin:0 auto;
}
#seeDeliver td{
    width: 120px;
    height: 30px;
}
#ctrl_staff td{
    border:1px solid gainsboro;
}
#seeRecruit,#addInterview{
     width: 900px;
     height: 455px;
     margin:0 auto;
 }
#seeInterview{
    width: 1200px;
    height: 455px;
    margin:0 auto;
}
#seeRecruit td,#seeInterview td{
    width: 180px;
    height: 30px;
}
#contenter_admin_left{
    float: left;
    width: 150px;
    height: 450px;
    border-right:2px gainsboro solid;
}
#contenter_admin_right{
    float: left;
    width: 1150px;
    height: 450px;
    border-right:2px gainsboro solid;
}
#contenter_admin:after{
    content: "";
    clear: both;
    zoom:1;
}
#user_content{
    width: 500px;
    height: 300px;
    margin: 0 auto;
}
#user_content_1,#user_content_2{
    width: 800px;
    height: 300px;
    margin: 0 auto;
}
#user_content_resume,#contenter_admin_resumeInfo{
    width: 800px;
    height: 450px;
    margin: 0 auto;
}
#contenter_admin_resumeInfo form{
    position: absolute;
    margin-top:1%;
    margin-left:50%;
}
#deliver_resume{
    width: 100px;
    height: 35px;
}
#user_content_resume td{
    width: 120px;
    height: 30px;
    border:1px solid black;
}
.a{
    background-color: #ecf596;
}
.tr{
    cursor: pointer;
}
.contenter{
    background:url("../images/content.png") no-repeat;
    background-size: 100% 455px;
    position: relative;
}
.addPosition{
    display: none;
}